body {
  width: 550px;
  border: 1px solid black;
  padding: 35px 25px;
}

p{
  margin: 0;
  text-align: justify;
} 

.first-paragraph-left-duck {
  float: left;
  margin: 0 20px 30px 0;
}

.second-paragraph-right-duck {
  float: right;
  margin: 0 0 30px 20px;
}

hr {
  clear: both;
  margin: 15px 0;
  border: 1px solid black;
}

.alert-message {
  width: 240px;
  height: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 155px;
}

header {
  padding: 10px 0 0 20px;
  min-height: 28px;
  border-bottom: 2px solid black;
  color: red;
}

section {
  padding: 20px 0 0 20px;
  min-height: 38px;
  border-bottom: 2px solid black;
}

footer {
  padding: 10px 20px;
  text-align: right;
}

.close-x {
  height: 25px;
  width: 25px;
  background: black;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -12.5px;
  color: white;
}

.ok-button, .cancel-button {
  margin: 2.5px;
  padding: 5px;
  border-radius: 10px;
  background: #aaa;
  display: inline-block;
}