body {
  width: 540px;
  margin: auto;
}

header {
  background-color: aqua;
}

header, footer {
  height: 100px;
}

section {
  height: 500px;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: orange;
}

nav, aside {
  width: 100px;
}

main {
  width: 300px;
  background-color: red;
  position: relative;
}

.right-bottom-black-square {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

aside {
  background-color: purple;
}

footer {
  background-color: blue;
}