body {
  color: #222;
}

.page-content {
  width: 1280px;
  margin: 0 auto;
  background: url(../images/anakin.png) no-repeat;
  background-size: 100%;
}

header {
  padding: 220px 0 0 290px;
  font: 36px "Abril Fatface", cursive;
}

main {
  width: 795px;
  margin: 70px auto 0;
  font: 20px/1.5em "Josefin Sans", sans-serif;
}

blockquote {
  margin: 0;
  padding: 50px 0 65px 50px;
  background-color: #444;
  background-image: url(../images/quote.png);
  background-repeat: no-repeat;
  font: 48px/72px "Abril Fatface", cursive;
  color: white;
}

.first-box {
  margin-top: 110px;
}

.introduction, .notable-achievements, .experience, .formal-training {
  padding: 0 50px 50px;
}

.notable-achievements, .experience li, .formal-training li {
  font-size: 16px;
}

h1 {
  margin: 0;
  font-size: 72px;
  font-weight: lighter;
  line-height: 55px;
}

h2 {
  margin: 50px 0;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  margin: 40px 0 0;
  font-size: 24px;
}

h4 {
  margin: 0;
  font-style: italic;
}

li {
  list-style: square;
  line-height: 1.5em;
}

hr {
  margin-top: 50px;
  border: 2px solid #222;
}

p {
  margin: 30px 0 0;
  line-height: 1.5em;
}
