.yellow-box {
  margin: 10px;
  padding: 20px;
  border: 4px;
  border-style: solid;
  border-color: black;
  background-color: #ffff00;
  width: 200px;
  height: 30px;
  font-size: 30px;
  color: red;
}
