* {
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  font-family: sans-serif;
}

body, a, ol, .menu-item, .biography p, .images p {
  margin: 0;
}

.flex-row, .flex-column {
  display: flex;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-column {
  flex-flow: column nowrap;
}

.right-side {
  justify-content: flex-end;
}

.spcbetween {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #0645ad;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0b0080;
}

:target{
  background-color: #def;
}

h1 {
  margin: 2px 0 0;
  font-size: 29px;
  line-height: 37px;
}

h2 {
  padding-bottom: 3px;
  margin-bottom: 3px;
  overflow: hidden;
}

h1, h2 {
  font-family: times;
  border-bottom: 1px solid #aaa;
}

h3 {
  margin: 4px 0 0;
  padding-top: 4px;
  border-top: 1px solid #aaa;
}

h3, h5, header, aside, .biography, figure, .images, .references-to-columns {
  font-size: 12px;
}

h3, header {
  color: #4d4d4d;
}

h4 {
  margin: 5px 0;
  font-size: 15px;
}

h5 {
  margin: 5px 0 18px 0;
}

h1, h2, h3, h5 {
  font-weight: normal;
}

blockquote {
  padding-right: 40px;
}

blockquote, ol > li {
  display: table;
}

blockquote p {
  margin-left: 20px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

ol > li {
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 6px 0 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

aside {
  line-height: 1.6em;
}

.aside-gradient {
  width: 175px;
  background: linear-gradient(to top, #f6f6f6 50%,white 80%);
}

.wiki-logo {
  width: 135px;
  margin: 3px 0 20px 21px;
}

.left-main-menu {
  padding-left: 28px;
}

.left-further-menu {
  padding: 0 22px;
}

.left-further-menu a {
  padding-left: 26px;
}

header {
  height: 80px;
  border-bottom: 1px solid #a7d7f9;
}

.grey-background-gradient {
  background: linear-gradient(to bottom, white 0%,#f6f6f6 100%);
}

.menu-item {
  padding: 12px 5px 8px;
}

.menu-item-border {
  border-right: 1px solid #a7d7f9;
  background: linear-gradient(to bottom, white 30%,#cbebff 100%);
}

.menu-item-leftborder {
  border-left: 1px solid #a7d7f9;
}

.active-tab {
  margin-bottom: -1px;
  border-bottom: 1px solid white;
}

.search-margin {
  padding: 7px 5px 5px;
}

main {
  padding: 16px;
  border-bottom: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  color: #252525;
  font-size: 14px;
  line-height: 22px;
}

main, header, .active-tab {
  background: white;
}

.disambiguation {
  padding-left: 24px;
  font-style: italic;
}

.contents-menu {
  padding: 10px;
  width: 125px;
  font-size: 13px;
  line-height: 14px;
}

.contents-menu, .biography, figure, .images {
  border: 1px solid #aaa;
}

.contents-menu p {
  margin: 3px 0 10px 5px;
}

.contents-menu p, .bio-strong {
  font-weight: bolder;
}

.biography {
  width: 282px;
}

.biography p{
  padding: 5px 0 5px 10px;
}

.bio-strong {
  width: 75px;
}

.centered {
  text-align: center;
}

.images {
  width: 230px;
}

figure, .images {
  padding: 5px;
}

.biography, figure, .images {
  margin: 6px 0 6px 12px;
  float: right;
  line-height: 18px;
}

.biography, .images, .contents-menu {
  background: #f9f9f9;
}

.references-to-columns {
  margin: 2px 10px 6px 20px;
  column-width: 350px;
}

footer {
  margin-top: 20px;
  height: 120px;
  font-size: 11px;
  line-height: 16px;
}

footer section {
  flex-wrap: wrap;
}

footer section a {
  margin: 0 5px;
  flex-shrink: 0;
}